# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
#    - name: Configure Measure Tool
#      run: coverlet --output "/home/runner/work/TestCoverageExperiment/TestCoverageExperiment/XUnit.Coverlet.Collector/TestResults/coverage.cobertura.xml"

    - name: Coverage Measure
      run: dotnet test --no-build --collect:"XPlat Code Coverage" --logger trx --results-directory coverage
#      run: dotnet test /home/runner/work/TestCoverageExperiment/TestCoverageExperiment/XUnit.Coverlet.MSBuild/bin/Debug/net6.0/XUnit.Coverlet.MSBuild.dll --no-build --collect:"XPlat Code Coverage" --logger trx --results-directory coverage
      
#    - name: Coverage Measure
#      run: dotnet test --no-build --collect:"XPlat Code Coverage" --output:"/home/runner/work/TestCoverageExperiment/TestCoverageExperiment/XUnit.Coverlet.Collector/TestResults/coverage.cobertura.xml"
      
    - name: Copy Coverage to Predictable Location
      run: cp coverage/*/coverage.cobertura.xml coverage/coverage.cobertura.xml

    - name: Install Reporting Tool
      run: dotnet tool install -g dotnet-reportgenerator-globaltool
